#header-bot.home {
	top: 210px;
	background-color: transparent;
	border: none
}

#header-bot.home.ScrollTop {
	position: absolute;
	top: 210px
}

#header-bot.home #account-box {
	position: absolute;
	top: 0;
	right: 0;
	width: 241px;
	height: 317px;
	padding: 30px 18px 0;
	text-align: left;
	background:
		url('../images/account_bg.png')
		no-repeat;
	animation: 1s flipInX
}

#header-bot.home #account-box .free-play:before {
	content: '|';
	margin-left: -20px;
	margin-right: 20px
}

#header-bot.home #account-box p.title {
	display: inline-block;
	margin: 0;
	color: #fff;
	font-size: 18px
}

#header-bot.home #account-box p.title span {
	margin-left: 5px;
	font-size: 14px
}

#header-bot.home #account-box>form input {
	width: 205px;
	margin-bottom: 10px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}

#header-bot.home #account-box>form #check-code-wrapper input {
	width: 122px
}

#header-bot.home #account-box>form input#login_account {
	padding-left: 40px;
	margin-top: 10px;
	background:
		url('../images/login_user.png')
		no-repeat 15px center
}

#header-bot.home #account-box>form input#login_password {
	padding-left: 40px;
	background:
		url('../images/login_pwd.png')
		no-repeat 15px center
}

#header-bot.home #account-box>form button {
	width: 97px;
	height: 40px;
	margin-top: 10px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center top;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}

#header-bot.home #account-box>form button:hover {
	background-position: center bottom
}

#header-bot.home #account-box>form button.login-btn {
	margin-left: 0;
	background-image:
		url('../images/login_btn.jpg');
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	transition: none
}

#header-bot.home #account-box>form button.reg-btn {
	color: #2c0f00;
	font-weight: bold;
	background-image:
		url('../images/reg_btn.jpg')
}

#header-bot.home #account-box>form>a {
	display: inline-block;
	margin: 15px 0 0 35px;
	color: #fff
}

#header-bot.home #account-box>form>a:hover {
	text-decoration: underline;
	color: #eac176
}

#header-bot.home #captcha {
	position: absolute;
	top: 0;
	right: -75px;
	width: auto;
	height: 31px
}

#header-bot.home #agree {
	top: 83%;
	right: 5px;
	width: 100%
}

#header-bot.home #account-box.is-login:before {
	display: none
}

#header-bot.home ul#account-info>li {
	width: auto;
	padding-left: 25px;
	line-height: 37px;
	background-repeat: no-repeat;
	background-position: left center
}

#header-bot.home ul#account-info>li.profile {
	background-image:
		url('../images/info_id.png')
}

#header-bot.home ul#account-info>li.balance {
	background-image:
		url('../images/info_money.png')
}

#header-bot.home ul#account-info>li>span.account {
	color: #fff13f
}

#header-bot.home ul#account-nav>li {
	float: left;
	width: 50%;
	line-height: 37px;
	text-align: left
}

#header-bot.home #account-box ul#account-nav>li:before {
	display: none
}

#header-bot.home ul#account-nav>li a:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 24px;
	margin: 0;
	background-image:
		url('../images/account_nav.png');
	background-repeat: no-repeat;
	background-position-x: -12px;
	vertical-align: middle;
	-moz-transition: background-position-x linear .3s;
	-o-transition: background-position-x linear .3s;
	-webkit-transition: background-position-x linear .3s;
	transition: background-position-x linear .3s
}

#header-bot.home ul#account-nav>li a:hover:before {
	background-position-x: -45px
}

#header-bot.home ul#account-nav>li.bet a:before {
	background-position-y: -95px
}

#header-bot.home ul#account-nav>li.withdraw a:before {
	background-position-y: -40px
}

#header-bot.home ul#account-nav>li.deposit a:before {
	background-position-y: -12px
}

#header-bot.home ul#account-nav>li.record a:before {
	background-position-y: -67px
}

#header-bot.home ul#account-nav>li.pw a:before {
	background-position-y: -125px
}

#header-bot.home ul#account-nav>li.moneypw a:before {
	background-position-y: -125px
}

#header-bot.home #action-box>a {
	display: inline-block;
	width: 163px;
	height: 39px;
	margin: 15px 10px 0;
	color: #732904;
	font-size: 14px;
	font-weight: bold;
	line-height: 39px;
	background-color: #f6d45a;
	text-align: center
}

#header-bot.home #action-box>a:hover {
	text-decoration: none
}

#news {
	top: 602px;
	height: 40px;
	background:
		url('../images/news_bg.png')
		repeat
}

#news.ScrollTop {
	position: absolute;
	top: 602px
}

#news>.wrapper {
	padding: 0 0 0 100px;
	background: none
}

#news .title {
	left: 0;
	line-height: 40px
}

#hot-news a {
	line-height: 40px
}

#content {
	padding-top: 0;
	background-color: #141416;
	background-image: none
}

#slide-banner {
	position: relative;
	height: 599px;
	overflow: hidden
}

#imgNames img {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
	-moz-transition: all linear 500ms;
	-o-transition: all linear 500ms;
	-webkit-transition: all linear 500ms;
	transition: all linear 500ms;
	opacity: 0;
	filter: alpha(opacity = 0) \9
}

#imgNames img.show {
	opacity: 1;
	filter: alpha(opacity = 100) \9
}

#ad-pager {
	position: absolute;
	left: 48%;
	bottom: 45px;
	z-index: 2
}

#ad-pager a {
	display: inline-block;
	margin: 0 5px;
	width: 12px;
	height: 12px;
	background:
		url('../images/pager.png')
		no-repeat
}

#ad-pager .cycle-pager-active a {
	background-position: center bottom
}

#home-slot {
	height: 115px;
	padding-top: 10px;
	font-size: 0;
	background-color: #1d1d1d;
	text-align: center
}

#home-slot span.prev, #home-slot span.next {
	position: absolute;
	top: 33px;
	z-index: 1;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
	vertical-align: top
}

#home-slot span.prev:hover, #home-slot span.next:hover {
	background-position: center bottom
}

#home-slot span.prev {
	left: 5px;
	background-image:
		url('../images/prev.png')
}

#home-slot span.next {
	right: 5px;
	background-image:
		url('../images/next.png')
}

#home-slot .main-cell {
	margin: 0 50px;
	overflow: hidden
}

#home-slot ul.game-list li {
	display: inline-block;
	width: 100px;
	height: 95px;
	color: #dcdcdc;
	font-size: 16px
}

#home-slot ul.game-list li:hover {
	color: #fff;
	background:
		url('../images/hover.png')
		no-repeat center top
}

#home-slot ul.game-list li[game-box]:before {
	content: '';
	display: inline-block;
	width: 100px;
	height: 40px;
	vertical-align: top;
	margin: 15px 0 5px;
	background-repeat: no-repeat;
	background-position: center center
}

#home-slot ul.game-list li[game-box="pt"]:before {
	background-image:
		url('../images/pt.png')
}

#home-slot ul.game-list li[game-box="mg"]:before {
	background-image:
		url('../images/mg.png')
}

#home-slot ul.game-list li[game-box="gpi"]:before {
	background-image:
		url('../images/gpi.png')
}

#home-slot ul.game-list li[game-box="bb"]:before {
	background-image:
		url('../images/bb.png')
}

#home-slot ul.game-list li[game-box="ag"]:before {
	background-image:
		url('../images/ag.png')
}

#home-slot ul.game-list li[game-box="gns"]:before {
	background-image:
		url('../images/gns.png')
}

#home-slot ul.game-list li[game-box="prg"]:before {
	background-image:
		url('../images/pp.png')
}

#home-slot ul.game-list li[game-box="mw"]:before {
	background-image:
		url('../images/mw.png')
}

#home-slot ul.game-list li[game-box="sg"]:before {
	background-image:
		url('../images/sg.png')
}

#home-slot ul.game-list li[game-box="cq9"]:before {
	background-image:
		url('../images/cq9.png')
}

#home-slot ul.game-list li[game-box="hb"]:before {
	background-image:
		url('../images/hb.png')
}

#home-slot ul.game-list li[game-box="jdb"]:before {
	background-image:
		url('../images/jdb.png')
}

#home-slot ul.game-list li[game-box="ne"]:before {
	background-image:
		url('../images/ne.png')
}

#home-slot ul.game-list li[game-box="rt"]:before {
	background-image:
		url('../images/rt.png')
}

#home-slot ul.game-list li[game-box="ga"]:before {
	background-image:
		url('../images/ga.png')
}

#home-slot ul.game-list li[game-box="pg"]:before {
	background-image:
		url('../images/pg.png')
}

#home-slot ul.game-list li[game-box="isb"]:before {
	background-image:
		url('../images/isb.png')
}

#home-slot ul.game-list li[game-box="isb"]:before {
	background-image:
		url('../images/isb.png')
}

#home-slot ul.game-list li[game-box="lg"]:before {
	background-image:
		url('../images/lg.png')
}

#home-bottom {
	height: 570px;
	padding-top: 20px;
	font-size: 0;
	background: #171717
		url('../images/bottom_bg.jpg')
		no-repeat center top
}

#home-casino {
	width: 670px;
	height: 530px;
	vertical-align: top;
	padding-top: 5px;
	background-color: #151515;
	border: 1px solid #242424
}

#home-casino li {
	display: inline-block;
	width: 320px;
	height: 250px;
	vertical-align: top;
	margin: 5px;
	background-repeat: no-repeat;
	background-position: center top
}

#home-casino li:hover {
	background-position: center bottom
}

#home-casino li a {
	display: inline-block;
	width: 100%;
	height: 100%
}

#home-casino li.live {
	background-image:
		url('../images/casino_live.jpg')
}

#home-casino li.game {
	background-image:
		url('../images/casino_slot.jpg')
}

#home-casino li.lottery {
	background-image:
		url('../images/casino_lottery.jpg')
}

#home-casino li.sport {
	background-image:
		url('../images/casino_sport.jpg')
}

#home-info {
	vertical-align: top;
	margin-left: 10px
}

#home-info li {
	width: 319px;
	background-repeat: no-repeat;
	background-position: center top
}

#home-info li a {
	display: inline-block;
	width: 100%;
	height: 100%
}

#home-info li.mobile {
	height: 350px;
	margin-bottom: 10px;
	background-image:
		url('../images/info_moblie.jpg')
}

#home-info li.qrcode {
	height: 170px;
	background-image:
		url('../images/info_qrcode.jpg')
}