<!DOCTYPE html>
<html>
<head>
	<title>实时在线聊天室</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<div id="conten">
		<div id="view">
			<video controls width="100%" poster="http://wap.heigrace.com/fitness/static/video/1.png" height="100%" id="myVideo1"><source src=""></video>
		</div>
		<div id="msgtitle">
			聊天记录
		</div>
		<div id="msg">
			<ul>
				<!-- <li>
				<div class="prompt"><span>发送中<img src="static/load.gif"></span></div>
					<div class="right" >
						<span class="name" style="text-align: right;">周飞</span>
						<p class="msg">QQ头像-【个性网】fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p>
					</div>
					<div class="left" style="float:right;">
						<i style="background-image: url(static/1.jpeg);" class="icon"></i>
					</div>
					<div class="null"></div>
				</li>

				<li>
					<div class="left">
						<i class="icon"></i>
					</div>
					<div class="right">
						<span class="name">周飞</span>
						<p class="msg">QQ头像-【个性网】-</p>
					</div>
					<div class="null"></div>
				</li> -->
			</ul>
		</div>
		<div id="input">
			<div class="other">
				<ul>
					<li>
						<a href="javascript:biaoqing();">表情</a>
						<div class="expression">
							<span>😀</span> 
							<span>😁</span>
							<span>😂</span>
							 <span>🤣</span>
							 <span>😃</span>
							 <span>😄</span>
							 <span>😅</span>
							 <span>😆</span>
							 <span>😉</span>
							<span>😊</span>
							 <span>😋</span>
							 <span>😎</span>
							 <span>😍</span>
							<span>😘</span>
							<span>😗</span>
							<span>😙</span>

						</div>
					</li>
				</ul>
			</div>
			<textarea name="msg" style=""></textarea><button id="send" onclick="send()">发送</button>
		</div>
	</div>
	<div class="username">
		<div>
			<input type="text"  name="username" placeholder="给自己取一个响亮的名字！" />
			<input type="button" class="btn" onclick="nameok()" value="进入聊天" />
		</div>
	</div>
	<div class="renBox">
	</div>
</body>
<script type="text/javascript" src="/static/msg.js"></script>
</html>